<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.JarvisBaseTemplate.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>iOS template. Includes skeleton for UIViewControllers and UIViews, Network Router architecture, and helper methods for programmatic AutoLayout. Oh, and no storyboard.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift</string>
						<string>APIManager.swift</string>
						<string>BaseRouter.swift</string>
						<string>UIView+.swift</string>
						<string>UIImage+.swift</string>
						<string>Collection+.swift</string>
						<string>String+.swift</string>
						<string>DateHelper.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>App Files</string>
			</array>
		</dict>
		<key>APIManager.swift</key>
		<dict>
			<key>Path</key>
			<string>APIManager.swift</string>
			<key>Group</key>
			<array>
				<string>Networking</string>
			</array>
		</dict>
		<key>BaseRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Networking</string>
			</array>
		</dict>
		<key>DateHelper.swift</key>
		<dict>
			<key>Path</key>
			<string>DateHelper.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>

		<key>String+.swift</key>
		<dict>
			<key>Path</key>
			<string>String+.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>

		<key>Collection+.swift</key>
		<dict>
			<key>Path</key>
			<string>Collection+.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>

		<key>UIImage+.swift</key>
		<dict>
			<key>Path</key>
			<string>UIImage+.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>

		<key>UIImage+.swift</key>
		<dict>
			<key>Path</key>
			<string>UIView+.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>

	</dict>
</dict>
</plist>
